:where(.wp-block-calendar table:not(.has-background) th) {
    background: #ddd
}

.wp-lightbox-container button:focus-visible {
    outline: 3px auto rgba(90, 90, 90, .25);
    outline: 3px auto -webkit-focus-ring-color;
    outline-offset: 3px
}

.wp-lightbox-container button:not(:hover):not(:active):not(.has-background) {
    background-color: rgba(90, 90, 90, .25);
    border: 0
}

.wp-lightbox-overlay .close-button:not(:hover):not(:active):not(.has-background) {
    background: 0 0;
    border: 0
}

ul {
    box-sizing: border-box
}

.entry-content {
    counter-reset: footnotes
}

:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px
}

.has-text-align-center,
h4.gb-headline-1b7e4e9c,
h4.gb-headline-5b9a0492,
h4.gb-headline-90807046,
h4.gb-headline-9709b3b3,
h4.gb-headline-e51d3472,
h4.gb-headline-ea4869ee,
p.gb-headline-5862ba18 {
    text-align: center
}

.screen-reader-text:focus {
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    -webkit-clip-path: none;
    font-size: .875rem;
    font-weight: 700
}

body,
html,
li {
    margin: 0
}

body,
h1,
h2,
h3,
h4,
html,
li,
p,
ul {
    padding: 0;
    border: 0
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box
}

main {
    display: block
}

*,
::after,
::before {
    box-sizing: inherit
}

button,
input,
textarea {
    margin: 0
}

::-moz-focus-inner {
    border-style: none;
    padding: 0
}

:-moz-focusring {
    outline: 1px dotted ButtonText
}

body,
button,
input,
textarea {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    text-transform: none
}

button,
input,
textarea {
    line-height: 1.5
}

p {
    margin: 0 0 1.5em
}

h1,
h2,
h3,
h4 {
    font-family: inherit;
    font-style: inherit
}

h4 {
    font-weight: inherit;
    font-size: 20px;
    line-height: 1.5
}

h1 {
    font-size: 56px;
    line-height: 1.2
}

h1,
h2,
h3,
h4 {
    margin: 0 0 20px
}

h1,
h2 {
    font-weight: 400;
    text-transform: none
}

h2 {
    font-size: 34px;
    line-height: 1.4
}

h3 {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.5
}

ul {
    margin: 0 0 1.5em 3em;
    list-style: disc
}

h3,
strong {
    font-weight: 700
}

mark {
    text-decoration: none
}

img {
    height: auto;
    max-width: 100%
}

button {
    background: #55555e;
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-appearance: button;
    padding: 10px 20px
}

input[type=email],
input[type=text],
textarea {
    border: 1px solid;
    border-radius: 0;
    padding: 10px 15px;
    max-width: 100%
}

textarea {
    width: 100%
}

a,
button,
input {
    transition: color .1s ease-in-out, background-color .1s ease-in-out
}

.screen-reader-text {
    -webkit-clip-path: inset(50%);
    position: absolute !important
}

.main-navigation {
    z-index: 100;
    padding: 0;
    clear: both;
    display: block
}

.main-navigation a {
    display: block;
    text-transform: none
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0
}

.main-navigation .main-nav ul li a {
    padding-left: 20px;
    padding-right: 20px
}

.inside-navigation,
.main-navigation li {
    position: relative
}

.main-navigation .inside-navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between
}

.main-navigation .main-nav>ul {
    flex-wrap: wrap
}

.main-navigation .main-nav>ul,
.main-navigation .menu-bar-items {
    display: flex;
    align-items: center
}

.main-navigation .menu-bar-items a {
    color: inherit
}

.main-navigation .menu-bar-item,
.site-header {
    position: relative
}

.main-navigation .menu-bar-item>a {
    padding-left: 20px;
    padding-right: 20px
}

.site-logo {
    display: inline-block;
    max-width: 100%
}

.site-header .header-image {
    vertical-align: middle
}

.inside-header {
    display: flex;
    align-items: center
}

.nav-float-right #site-navigation {
    margin-left: auto
}

.site-content {
    word-wrap: break-word;
    display: flex
}

.grid-container {
    margin-left: auto;
    margin-right: auto
}

.site-main>* {
    margin-bottom: 20px
}

.one-container .site-main>:last-child {
    margin-bottom: 0
}

.full-width-content .container.grid-container {
    max-width: 100%
}

.full-width-content.one-container .site-content {
    padding: 0
}

.gp-icon {
    display: inline-flex;
    align-self: center
}

.gp-icon svg {
    height: 1em;
    width: 1em;
    top: .125em;
    position: relative;
    fill: currentColor
}

.icon-menu-bars svg:nth-child(2) {
    display: none
}

.container.grid-container {
    width: auto
}

.menu-toggle {
    display: none;
    padding: 0 20px;
    margin: 0;
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
    cursor: pointer
}

button.menu-toggle {
    background-color: transparent;
    flex-grow: 1;
    border: 0;
    text-align: center
}

button.menu-toggle:active,
button.menu-toggle:focus,
button.menu-toggle:hover {
    background-color: transparent
}

.has-menu-bar-items button.menu-toggle {
    flex-grow: 0
}

.mobile-menu-control-wrapper {
    display: none;
    margin-left: auto;
    align-items: center
}

@media (max-width:768px) {
    .hide-on-mobile {
        display: none !important
    }

    a,
    body,
    button,
    input,
    textarea {
        transition: all 0s ease-in-out
    }

    .inside-header {
        text-align: center
    }

    .inside-header,
    .site-content {
        flex-direction: column
    }

    .container .site-content .content-area {
        width: auto
    }

    #main {
        margin-left: 0;
        margin-right: 0
    }
}

body {
    background-color: var(--base-3)
}

a,
a:visited,
body {
    color: var(--contrast)
}

a {
    text-decoration: underline
}

.main-navigation a {
    text-decoration: none
}

a:active,
a:focus,
a:hover {
    color: var(--accent)
}

.grid-container {
    max-width: 1300px
}

.site-header .header-image {
    width: 160px
}

.generate-back-to-top {
    font-size: 20px;
    border-radius: 3px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    z-index: 10;
    transition: opacity 300ms ease-in-out;
    opacity: .1;
    transform: translateY(1000px)
}

:root {
    --contrast: #3a3a3a;
    --contrast-2: #666666;
    --contrast-3: #cccccc;
    --base: #f0f0f0;
    --base-2: #f8fbff;
    --base-3: #ffffff;
    --accent: #000;
    --accent-2: #ff9d0a
}

:root .has-accent-2-color {
    color: var(--accent-2)
}

body,
button,
input,
textarea {
    font-family: Oxygen, sans-serif;
    font-size: 17px
}

body {
    line-height: 1.7
}

.main-navigation .menu-bar-items,
.main-navigation .menu-toggle,
.main-navigation a {
    font-weight: 600;
    font-size: 22px
}

.inside-article a,
.site-header,
.site-header a {
    color: var(--contrast)
}

.mobile-menu-control-wrapper .menu-toggle,
.mobile-menu-control-wrapper .menu-toggle:focus,
.mobile-menu-control-wrapper .menu-toggle:hover {
    background-color: rgba(0, 0, 0, .02)
}

.inside-article a:hover,
.main-navigation .main-nav ul li a,
.main-navigation .menu-bar-items,
.main-navigation .menu-toggle {
    color: var(--base-3)
}

.main-navigation .main-nav ul li:not([class*=current-menu-]):focus>a,
.main-navigation .main-nav ul li:not([class*=current-menu-]):hover>a,
.main-navigation .menu-bar-item:hover>a {
    color: var(--accent)
}

button.menu-toggle:focus,
button.menu-toggle:hover {
    color: var(--base-3)
}

.one-container .container {
    color: var(--contrast);
    background-color: var(--base-3)
}

input[type=email],
input[type=text],
textarea {
    color: var(--contrast-2);
    background-color: var(--base-2);
    border-color: var(--contrast-3)
}

input[type=email]:focus,
input[type=text]:focus,
textarea:focus {
    color: var(--contrast-2);
    background-color: var(--base-3);
    border-color: var(--contrast-3)
}

button {
    color: var(--base-3);
    background-color: var(--accent-2)
}

button:focus,
button:hover {
    color: var(--base-3);
    background-color: var(--accent)
}

a.generate-back-to-top {
    background-color: var(--accent);
    color: var(--base-3)
}

a.generate-back-to-top:focus,
a.generate-back-to-top:hover {
    background-color: var(--accent-2);
    color: var(--base-3)
}

:root {
    --gp-search-modal-bg-color: var(--base-3);
    --gp-search-modal-text-color: var(--contrast);
    --gp-search-modal-overlay-bg-color: rgba(0, 0, 0, 0.2)
}

@media (max-width:2800px) {
    .main-navigation .menu-bar-item:hover>a {
        background: 0 0;
        color: var(--base-3)
    }
}

.inside-header,
.one-container .site-content {
    padding: 40px 20px
}

.main-navigation .main-nav ul li a,
.main-navigation .menu-bar-item>a,
.menu-toggle {
    line-height: 30px
}

@media (max-width:768px) {
    .one-container .site-content {
        padding: 40px 20px
    }

    .inside-header {
        padding: 0
    }
}

@media (max-width:2800px) {

    .main-navigation .menu-bar-item>a,
    .main-navigation .menu-toggle {
        padding-left: 0;
        padding-right: 0
    }

    .main-navigation .main-nav ul li a,
    .main-navigation .menu-bar-item>a,
    .main-navigation .menu-toggle {
        line-height: 40px
    }

    .mobile-header-navigation .site-logo.mobile-header-logo img {
        height: 40px
    }
}

.main-navigation.slideout-navigation .main-nav>ul>li>a {
    line-height: 60px
}

.gb-container .gb-shape {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    line-height: 0
}

.gb-container .gb-shape svg,
.gb-icon svg {
    fill: currentColor
}

.gb-container-6ec57639 {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--base-3);
    background-image: linear-gradient(180deg, var(--accent-2) 40%, rgba(0, 0, 0, .8) 80%)
}

.gb-container-6ec57639:before {
    content: "";
    background-image: url(//img/main_bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: inherit;
    pointer-events: none;
    opacity: .25
}

.gb-container-05a689bf a,
.gb-container-6ec57639 a {
    color: var(--base-3)
}

.gb-container-6ec57639>.gb-shapes .gb-shape-1 {
    color: var(--base-3);
    left: 0;
    right: 0;
    bottom: -1px
}

.gb-container-6ec57639>.gb-shapes .gb-shape-1 svg {
    height: 100px;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%
}

.gb-container-ebacc975 {
    max-width: 1300px;
    align-items: center;
    z-index: 1;
    position: relative;
    padding: 220px 20px 100px;
    margin-right: auto;
    margin-left: auto
}

.gb-container-6290146c {
    width: 75%;
    height: 45vh
}

.gb-container-d0afc5e8 {
    max-width: 1300px;
    padding: 40px 20px 140px;
    margin-right: auto;
    margin-left: auto
}

.gb-container-78e91719 {
    display: flex;
    column-gap: 100px;
    row-gap: 60px;
    margin-bottom: 30px
}

.gb-container-13807449,
.gb-container-4fc7ee99,
.gb-container-e900a4b0 {
    width: 33.33%;
    padding: 40px 40px 20px;
    border-radius: 12px;
    border-bottom: 2px solid var(--accent-2);
    background-color: var(--base-3)
}

.gb-container-d07a1fe6 {
    display: flex;
    column-gap: 100px;
    row-gap: 60px
}

.gb-container-026f1b0c,
.gb-container-2e6a6f6e,
.gb-container-6dfc5051 {
    width: 33.33%;
    padding: 40px 40px 20px;
    border-radius: 12px;
    border-bottom: 2px solid var(--accent-2);
    background-color: var(--base-3)
}

.gb-container-e872211e {
    background-image: linear-gradient(0deg, var(--accent-2) 40%, var(--accent))
}

.gb-container-09d3da6f {
    max-width: 1300px;
    padding: 80px 20px 140px;
    margin-right: auto;
    margin-left: auto
}

.gb-container-928cab2c {
    display: flex;
    column-gap: 80px
}

.gb-container-41cb7c65,
.gb-container-6c561a53 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 40px 40px;
    border-radius: 12px;
    border-bottom: 2px solid var(--accent);
    background-color: var(--base-3)
}

.gb-container-05a689bf {
    background-color: var(--accent-2);
    color: var(--base-3)
}

.gb-container-05a689bf a:hover,
.gb-container-605d0454 a {
    color: var(--accent)
}

.gb-container-0c4fa8ac {
    max-width: 1300px;
    padding: 80px 20px 140px;
    margin-right: auto;
    margin-left: auto
}

.gb-container-0763582b {
    display: flex;
    column-gap: 80px
}

.gb-container-605d0454,
.gb-container-ed9b8723 {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 40px 40px;
    border-radius: 12px;
    border-bottom: 2px solid var(--accent);
    background-color: var(--base-3)
}

.gb-container-605d0454 {
    color: var(--accent)
}

.gb-container-605d0454 a:hover {
    color: var(--accent-2)
}

.gb-container-ed9b8723 {
    align-items: center
}

.gb-container-56f0c83d,
.gb-container-d97c3e22 {
    display: flex;
    align-items: center;
    justify-content: center
}

.gb-container-d97c3e22 {
    flex-direction: column;
    background-color: var(--accent-2);
    color: var(--base-3)
}

.gb-container-d97c3e22 a,
h2.gb-headline-ee15a345 {
    color: var(--base-3)
}

.gb-container-d97c3e22 a:hover {
    color: var(--accent)
}

.gb-container-56f0c83d {
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 10px 20px;
    border-right-width: 1px
}

h1.gb-headline-a9091560 {
    margin-bottom: 30px;
    color: var(--base-3)
}

h2.gb-headline-5986b029,
h2.gb-headline-6cdb2050,
h2.gb-headline-cc59c57b {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px
}

div.gb-headline-322acde8,
div.gb-headline-5e9660c7,
div.gb-headline-ca44b8bb,
div.gb-headline-d45ca32d,
div.gb-headline-d49c4dac,
div.gb-headline-f8a9c646 {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: .5em;
    text-align: center;
    margin-bottom: 30px
}

div.gb-headline-322acde8 .gb-icon,
div.gb-headline-5e9660c7 .gb-icon,
div.gb-headline-ca44b8bb .gb-icon,
div.gb-headline-d45ca32d .gb-icon,
div.gb-headline-d49c4dac .gb-icon,
div.gb-headline-f8a9c646 .gb-icon {
    line-height: 0;
    color: var(--accent)
}

div.gb-headline-322acde8 .gb-icon svg,
div.gb-headline-5e9660c7 .gb-icon svg,
div.gb-headline-ca44b8bb .gb-icon svg,
div.gb-headline-d45ca32d .gb-icon svg,
div.gb-headline-d49c4dac .gb-icon svg,
div.gb-headline-f8a9c646 .gb-icon svg {
    width: 5em;
    height: 5em
}

h2.gb-headline-6cdb2050,
h2.gb-headline-cc59c57b {
    color: var(--base-2)
}

h3.gb-headline-8032a53b,
h3.gb-headline-94fa669d {
    position: relative;
    letter-spacing: .1em;
    margin-bottom: 0;
    color: var(--accent-2)
}

h4.gb-headline-2236cc95,
h4.gb-headline-38f6e45a {
    position: relative;
    margin-bottom: 30px
}

p.gb-headline-01a04627,
p.gb-headline-209e74ff,
p.gb-headline-50bb4e4e,
p.gb-headline-5eb47676,
p.gb-headline-76f8cfb9,
p.gb-headline-949d0363,
p.gb-headline-a74e842c,
p.gb-headline-b66461d9,
p.gb-headline-ebbebb91 {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--accent)
}

p.gb-headline-01a04627 .gb-icon,
p.gb-headline-189b22c5 .gb-icon,
p.gb-headline-209e74ff .gb-icon,
p.gb-headline-50bb4e4e .gb-icon,
p.gb-headline-5eb47676 .gb-icon,
p.gb-headline-76f8cfb9 .gb-icon,
p.gb-headline-949d0363 .gb-icon,
p.gb-headline-a74e842c .gb-icon,
p.gb-headline-b66461d9 .gb-icon,
p.gb-headline-ebbebb91 .gb-icon {
    line-height: 0;
    color: var(--accent);
    padding-right: .5em
}

a.gb-button-52506932 .gb-icon svg,
p.gb-headline-01a04627 .gb-icon svg,
p.gb-headline-189b22c5 .gb-icon svg,
p.gb-headline-209e74ff .gb-icon svg,
p.gb-headline-50bb4e4e .gb-icon svg,
p.gb-headline-5eb47676 .gb-icon svg,
p.gb-headline-76f8cfb9 .gb-icon svg,
p.gb-headline-949d0363 .gb-icon svg,
p.gb-headline-a74e842c .gb-icon svg,
p.gb-headline-aef97a3a .gb-icon svg,
p.gb-headline-b66461d9 .gb-icon svg,
p.gb-headline-dbb2fab9 .gb-icon svg,
p.gb-headline-ebbebb91 .gb-icon svg {
    width: 1em;
    height: 1em
}

p.gb-headline-189b22c5 {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px
}

h2.gb-headline-6cdb2050 {
    justify-content: center
}

p.gb-headline-bc5dcae0 {
    font-weight: 700
}

p.gb-headline-aef97a3a {
    margin-bottom: 10px
}

a.gb-button-52506932 .gb-icon,
a.gb-button-bee3a936 .gb-icon,
p.gb-headline-aef97a3a .gb-icon,
p.gb-headline-dbb2fab9 .gb-icon {
    line-height: 0
}

p.gb-headline-aef97a3a,
p.gb-headline-dbb2fab9 {
    display: flex;
    align-items: center;
    column-gap: .5em;
    font-size: 15px
}

h3.gb-headline-d2835947 {
    font-size: 15px;
    font-weight: 700;
    text-transform: initial;
    margin-bottom: 20px
}

p.gb-headline-0b3e035a,
p.gb-headline-5ac37c6e,
p.gb-headline-89722d68,
p.gb-headline-8b16b6fb,
p.gb-headline-9548b091,
p.gb-headline-f3b47a1e {
    font-size: 15px;
    margin-bottom: 10px
}

p.gb-headline-8cb716ac {
    font-size: 14px
}

.gb-button {
    text-decoration: none
}

a.gb-button-52506932 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .5em;
    font-size: 14px;
    letter-spacing: .125em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 1px;
    margin-top: 20px;
    border-top-color: var(--base-3);
    border-right-color: var(--base-3);
    border-bottom: 1px solid var(--base-3);
    border-left-color: var(--base-3);
    color: var(--base-3)
}

a.gb-button-52506932:active,
a.gb-button-52506932:focus,
a.gb-button-52506932:hover {
    border-top-color: var(--accent);
    border-right-color: var(--accent);
    border-bottom-color: var(--contrast-3);
    border-left-color: var(--accent);
    color: var(--base-3)
}

.gb-button-52506932:hover {
    transform: translate3d(10px, -10px, 0) scale(1.1) perspective(1000px)
}

.gb-button-52506932 {
    transition: all .5s ease
}

a.gb-button-43bc83c1 {
    display: inline-flex;
    justify-content: center;
    letter-spacing: .1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 24px;
    margin-top: auto;
    border-radius: 4px;
    background-color: var(--accent-2);
    color: var(--base-3)
}

a.gb-button-43bc83c1:active,
a.gb-button-43bc83c1:focus,
a.gb-button-43bc83c1:hover,
a.gb-button-970af9b9:active,
a.gb-button-970af9b9:focus,
a.gb-button-970af9b9:hover {
    background-color: var(--accent);
    color: var(--base-3)
}

a.gb-button-970af9b9 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 24px;
    margin-top: auto;
    border-radius: 4px;
    background-color: var(--accent-2);
    color: var(--base-3)
}

a.gb-button-bee3a936 {
    display: inline-flex;
    align-items: center;
    column-gap: .5em;
    padding: 1px;
    margin-bottom: 30px
}

a.gb-button-bee3a936 .gb-icon svg {
    width: 1.5em;
    height: 1.5em
}

@media (max-width:1024px) {
    .gb-container-ebacc975 {
        padding-top: 160px
    }

    .gb-container-6290146c {
        width: 100%
    }

    .gb-container-78e91719 {
        flex-wrap: wrap;
        justify-content: center
    }

    .gb-container-13807449,
    .gb-container-4fc7ee99,
    .gb-container-e900a4b0 {
        width: 66.66%
    }

    .gb-container-d07a1fe6 {
        flex-wrap: wrap;
        justify-content: center
    }

    .gb-container-026f1b0c,
    .gb-container-2e6a6f6e,
    .gb-container-6dfc5051 {
        width: 66.66%
    }

    .gb-container-928cab2c {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 60px
    }

    .gb-container-41cb7c65,
    .gb-container-6c561a53 {
        width: 55%
    }

    .gb-container-0763582b {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 60px
    }

    .gb-container-605d0454,
    .gb-container-ed9b8723 {
        width: 55%
    }

    .gb-container-56f0c83d {
        width: 100%;
        order: 1;
        text-align: center;
        border-right: 0 solid #c6c6c6
    }

    h2.gb-headline-6cdb2050 {
        align-items: center
    }
}

@media (max-width:767px) {

    .gb-container-026f1b0c,
    .gb-container-13807449,
    .gb-container-2e6a6f6e,
    .gb-container-41cb7c65,
    .gb-container-4fc7ee99,
    .gb-container-56f0c83d,
    .gb-container-605d0454,
    .gb-container-6290146c,
    .gb-container-6c561a53,
    .gb-container-6dfc5051,
    .gb-container-e900a4b0,
    .gb-container-ed9b8723 {
        width: 100%
    }

    h2.gb-headline-ee15a345 {
        font-size: 20px
    }

    h3.gb-headline-8032a53b,
    h3.gb-headline-94fa669d,
    h4.gb-headline-1c5ff0c4,
    h4.gb-headline-3a17b2ff {
        text-align: center
    }

    h2.gb-headline-6cdb2050 {
        flex-direction: column
    }

    a.gb-button-52506932,
    h2.gb-headline-6cdb2050 {
        align-items: center;
        justify-content: center
    }

    a.gb-button-bee3a936,
    p.gb-headline-dbb2fab9 {
        margin-bottom: 10px
    }
}

.slideout-navigation.main-navigation:not(.is-open):not(.slideout-transition) {
    display: none
}

.slideout-navigation.main-navigation:not(.slideout-transition).do-overlay {
    opacity: 1
}

button.slideout-exit:hover {
    background-color: transparent
}

.slideout-navigation button.slideout-exit {
    background: 0 0;
    width: 100%;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border: 0
}

.slideout-navigation .main-nav {
    margin-bottom: 40px
}

.slideout-navigation .slideout-menu {
    display: block
}

#generate-slideout-menu {
    z-index: 100001
}

#generate-slideout-menu .slideout-menu li {
    float: none;
    width: 100%;
    clear: both;
    text-align: left
}

#generate-slideout-menu.do-overlay li {
    text-align: center
}

.slideout-navigation.do-overlay {
    transform: none !important;
    transition: opacity .2s, visibility .2s;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0
}

.slideout-navigation.do-overlay .inside-navigation {
    display: flex;
    flex-direction: column;
    padding: 10% 10%0;
    max-width: 700px
}

.slideout-navigation.do-overlay .inside-navigation .main-nav {
    margin-left: auto;
    margin-right: auto;
    min-width: 250px
}

.slideout-navigation.do-overlay .slideout-exit {
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    font-size: 25px
}

.slideout-navigation.do-overlay .slideout-menu li a {
    display: inline-block
}

.slideout-navigation.do-overlay .slideout-menu li {
    margin-bottom: 5px
}

#generate-slideout-menu.do-overlay .slideout-menu li,
.slideout-navigation.do-overlay .inside-navigation {
    text-align: center
}

@media (max-width:768px) {
    .slideout-navigation.do-overlay .slideout-exit {
        position: static;
        text-align: center
    }
}

.site-logo.mobile-header-logo {
    display: flex;
    align-items: center;
    order: 0;
    margin-right: 10px
}

.site-logo.mobile-header-logo img {
    position: relative;
    padding: 10px 0;
    display: block;
    transition: height .3s ease
}

.main-navigation.mobile-header-navigation {
    display: none;
    float: none;
    margin-bottom: 0
}

.main-navigation .menu-toggle {
    flex-grow: 1;
    width: auto
}

.main-navigation.has-branding .menu-toggle {
    flex-grow: 0;
    padding-right: 20px;
    order: 2
}

.mobile-header-navigation.has-menu-bar-items .mobile-header-logo {
    margin-right: auto
}

:root {
    --happyforms-color-primary: #000;
    --happyforms-color-success-notice: #ebf9f0;
    --happyforms-color-success-notice-text: #1eb452;
    --happyforms-color-error: #f23000;
    --happyforms-color-error-notice: #ffeeea;
    --happyforms-color-error-notice-text: #f23000;
    --happyforms-color-notice-text: #454545;
    --happyforms-color-part-title: #000;
    --happyforms-color-part-value: #000;
    --happyforms-color-part-placeholder: #888;
    --happyforms-color-part-description: #454545;
    --happyforms-color-part-border: #dbdbdb;
    --happyforms-color-part-border-focus: #7aa4ff;
    --happyforms-color-part-background: #fff;
    --happyforms-color-part-background-focus: #fff;
    --happyforms-color-submit-background: #000;
    --happyforms-color-submit-background-hover: #000;
    --happyforms-color-submit-border: transparent;
    --happyforms-color-submit-text: #fff;
    --happyforms-color-submit-text-hover: #fff;
    --happyforms-color-table-row-odd: #fcfcfc;
    --happyforms-color-table-row-even: #efefef;
    --happyforms-color-table-row-odd-text: #000;
    --happyforms-color-table-row-even-text: #000;
    --happyforms-color-choice-checkmark-bg: #fff;
    --happyforms-color-choice-checkmark-bg-focus: #000;
    --happyforms-color-choice-checkmark-color: #fff;
    --happyforms-color-dropdown-bg-color: #fff;
    --happyforms-color-dropdown-item-bg: #fff;
    --happyforms-color-dropdown-item-text: #000;
    --happyforms-color-dropdown-item-bg-hover: #f4f4f5;
    --happyforms-color-dropdown-item-text-hover: #000;
    --happyforms-color-divider-hr: #ccc;
    --happyforms-form-title-font-size: 32px;
    --happyforms-form-font-weight: 400;
    --happyforms-part-title-font-size: 16px;
    --happyforms-part-description-font-size: 12px;
    --happyforms-part-value-font-size: 16px;
    --happyforms-submit-button-font-size: 16px;
    --happyforms-transition-duration: .25s;
    --happyforms-form-width: 100%
}

.happyforms-form.happyforms-styles form {
    font-weight: 400;
    font-weight: var(--happyforms-form-font-weight);
    transition: opacity .25s ease-in-out;
    transition: opacity var(--happyforms-transition-duration) ease-in-out
}

.happyforms-styles .happyforms-part__label,
.happyforms-styles .happyforms-part__label .label {
    font-weight: 400;
    font-size: 16px;
    font-size: var(--happyforms-part-title-font-size);
    background-color: transparent
}

.happyforms-styles .happyforms-part__label {
    line-height: 1;
    overflow-wrap: anywhere
}

.happyforms-styles .happyforms-part__label .label {
    font-style: normal;
    color: #000;
    color: var(--happyforms-color-part-title)
}

.happyforms-styles .happyforms-part input[type=email],
.happyforms-styles .happyforms-part input[type=text],
.happyforms-styles .happyforms-part textarea {
    margin: 0;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #dbdbdb !important;
    border-color: var(--happyforms-color-part-border) !important;
    border-radius: 6px !important;
    box-shadow: none;
    box-sizing: border-box;
    font-style: normal;
    font-size: 16px;
    font-size: var(--happyforms-part-value-font-size);
    background-color: #fff !important;
    background-color: var(--happyforms-color-part-background) !important;
    color: #000;
    color: var(--happyforms-color-part-value);
    transition-property: none;
    transition-duration: .1s;
    transition-duration: var(--happyforms-transition-duration);
    transition-timing-function: ease-in
}

.happyforms-styles .happyforms-part input[type=email],
.happyforms-styles .happyforms-part input[type=text] {
    height: auto !important
}

.happyforms-styles .happyforms-part input[type=email]:focus,
.happyforms-styles .happyforms-part input[type=text]:focus,
.happyforms-styles .happyforms-part textarea:focus {
    outline: 0;
    border-color: #7aa4ff !important;
    border-color: var(--happyforms-color-part-border-focus) !important;
    color: #000;
    color: var(--happyforms-color-part-value);
    background-color: #fff !important;
    background-color: var(--happyforms-color-part-background-focus) !important;
    box-shadow: inset 0 0 0 1px #7aa4ff;
    box-shadow: inset 0 0 0 1px var(--happyforms-color-part-border-focus)
}

.happyforms-styles .happyforms-part.display-type--block .happyforms-part__el {
    width: 100%
}

.happyforms-styles .happyforms-part ::-webkit-input-placeholder {
    font-weight: 400;
    font-style: normal;
    color: #888;
    color: var(--happyforms-color-part-placeholder) !important
}

.happyforms-styles .happyforms-part ::-moz-placeholder {
    font-weight: 400;
    font-style: normal;
    color: #888;
    color: var(--happyforms-color-part-placeholder) !important
}

.happyforms-styles .happyforms-part ::-ms-placeholder {
    font-weight: 400;
    font-style: normal;
    color: #888;
    color: var(--happyforms-color-part-placeholder) !important
}

.happyforms-styles .happyforms-part-wrap {
    position: relative
}

.happyforms-styles .happyforms-part .option-label {
    border-radius: 6px;
    line-height: 1.3125;
    line-height: calc(var(--happyforms-part-value-font-size)*1.3125);
    font-size: 16px;
    font-size: var(--happyforms-part-value-font-size);
    overflow-wrap: anywhere
}

.happyforms-styles .happyforms-part .happyforms-part-option:last-of-type .option-label {
    margin-bottom: 0
}

.happyforms-styles .option-label input {
    top: 3px
}

.happyforms-styles .happyforms-part--checkbox .happyforms-part-option {
    margin-bottom: 10px
}

.happyforms-styles .happyforms-part--checkbox label.option-label {
    margin-bottom: 0
}

.happyforms-styles .happyforms-part .option-label .label {
    font-weight: 400;
    font-size: 16px;
    font-size: var(--happyforms-part-value-font-size);
    color: #000;
    color: var(--happyforms-color-part-description)
}

.happyforms-styles .happyforms-part .option-label input:checked+.checkmark {
    background-color: #000;
    background-color: var(--happyforms-color-choice-checkmark-bg-focus)
}

.happyforms-styles .happyforms-part .checkmark {
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    min-width: 21px;
    height: 21px;
    margin: calc((var(--happyforms-part-value-font-size)*1.3125 - 21px)/2)0;
    border-radius: 50%;
    border: 1px solid;
    border-color: #dbdbdb;
    border-color: var(--happyforms-color-part-border);
    font-weight: 700;
    font-size: 14px;
    font-size: var(--happyforms-part-description-font-size);
    background-color: #fff;
    background-color: var(--happyforms-color-choice-checkmark-bg);
    color: #000;
    color: var(--happyforms-color-choice-checkmark-bg-focus)
}

.happyforms-styles .happyforms-part .checkmark svg {
    display: none;
    width: 10px
}

.happyforms-styles .happyforms-part--checkbox .checkmark {
    border-radius: 6px
}

.happyforms-styles .happyforms-part .option-label input:focus+.checkmark {
    border-color: #7aa4ff;
    border-color: var(--happyforms-color-part-border-focus);
    box-shadow: inset 0 0 0 1px #7aa4ff;
    box-shadow: inset 0 0 0 1px var(--happyforms-color-part-border-focus)
}

.happyforms-styles .happyforms-part input:checked+.checkmark svg {
    display: block;
    color: #fff;
    color: var(--happyforms-color-choice-checkmark-color)
}

.happyforms-styles button[type=submit].happyforms-button--submit {
    -webkit-appearance: none;
    height: auto;
    padding: 15px 30px;
    border-radius: 4px !important;
    border: 1px solid transparent !important;
    border-color: var(--happyforms-color-submit-border) !important;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-size: var(--happyforms-submit-button-font-size);
    color: #fff;
    color: var(--happyforms-color-submit-text);
    background-color: #000;
    background-color: var(--happyforms-color-submit-background);
    background: #000;
    background: var(--happyforms-color-submit-background);
    text-transform: none;
    transition-property: all;
    transition-duration: .25s;
    transition-duration: var(--happyforms-transition-duration);
    transition-timing-function: ease-in;
    white-space: normal;
    overflow-wrap: anywhere
}

.happyforms-styles button[type=submit]:not(:hover):not(:active):not(.has-background) {
    background-color: #000;
    background-color: var(--happyforms-color-submit-background);
    background: #000;
    background: var(--happyforms-color-submit-background);
    color: #fff;
    color: var(--happyforms-color-submit-text)
}

.happyforms-styles button[type=submit].happyforms-button--submit:focus,
.happyforms-styles button[type=submit].happyforms-button--submit:hover {
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent !important;
    border-color: var(--happyforms-color-submit-border) !important;
    background-color: #000;
    background-color: var(--happyforms-color-submit-background-hover);
    background: #000;
    background: var(--happyforms-color-submit-background-hover);
    text-transform: none;
    text-decoration: none;
    color: #fff;
    color: var(--happyforms-color-submit-text-hover)
}

.happyforms-styles .happyforms-visuallyhidden {
    position: absolute;
    border: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden
}

.happyforms-styles .happyforms-part input[type=email],
.happyforms-styles .happyforms-part input[type=text],
.happyforms-styles .happyforms-part textarea {
    transition: border-color .4s;
    transition: border-color var(--happyforms-transition-duration)
}

.happyforms-styles.happyforms-form .happyforms-part .happyforms-input {
    position: relative;
    flex: 1;
    width: 100%
}

.happyforms-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    max-width: 100%
}

.happyforms-form {
    max-width: 100%;
    max-width: var(--happyforms-form-width);
    margin: 0 auto;
    border-style: solid;
    border-width: 0
}

.happyforms-form form {
    margin: 0;
    padding: 0;
    background-color: transparent
}

.happyforms-form__part {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 1%
}

.happyforms-form__part:last-child {
    margin-bottom: 0
}

@media screen and (min-width:800px) {
    .happyforms-part--width-half {
        width: 50%
    }
}

.happyforms-part--width-half {
    align-self: flex-start
}

.happyforms-part__label {
    display: inline-block;
    margin-bottom: 15px
}

.happyforms-part__label .happyforms-required,
.happyforms-part__label .label {
    padding: 0;
    white-space: normal
}

.happyforms-form__part .happyforms-part__label .happyforms-required,
.happyforms-part .checkmark svg {
    display: none
}

.happyforms-form__part[data-happyforms-required] .happyforms-part__label .happyforms-required {
    display: inline-block
}

.happyforms-part input[type=email],
.happyforms-part input[type=text],
.happyforms-part textarea {
    width: 100%;
    box-sizing: border-box;
    max-width: none
}

.happyforms-part textarea {
    height: auto
}

.happyforms-part.display-type--block .happyforms-part__el {
    width: 100%
}

.happyforms-part-wrap {
    position: relative
}

.happyforms-part .option-label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0 5px 5px 0
}

.happyforms-part--choice .option-label {
    margin-right: 20px
}

.happyforms-styles .happyforms-part .happyforms-part-option .option-label {
    align-items: flex-start
}

@media screen and (max-width:800px) {
    .happyforms-part--choice .option-label {
        margin-right: 0
    }
}

.happyforms-part--choice .option-label input:focus {
    outline: 0
}

.happyforms-part .option-label .label-wrap {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    white-space: normal;
    color: inherit
}

.happyforms-part-option:last-of-type {
    margin-bottom: 0 !important
}

.happyforms-part.display-type--block .option-label {
    display: flex;
    margin-right: 0;
    flex-wrap: wrap
}

.happyforms-part--choice .happyforms-part__el {
    display: flex;
    flex-flow: row wrap
}

@media screen and (max-width:800px) {
    .happyforms-part--choice .happyforms-part__el {
        flex-flow: column wrap
    }
}

.happyforms-part--choice {
    margin-bottom: 0
}

.happyforms-part--choice.display-type--block {
    margin-bottom: 15px
}

.happyforms-part--choice.display-type--block .happyforms-part__el {
    display: flex !important;
    flex-flow: column wrap
}

.happyforms-part--submit {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    padding-top: 10px
}

.happyforms-part input[type=email],
.happyforms-part input[type=text],
.happyforms-part textarea {
    margin-bottom: 0;
    transition: border-color .4s;
    transition: border-color var(--happyforms-transition-duration)
}

.happyforms-part--submit * {
    margin-right: 20px
}

.happyforms-part--checkbox .option-label .label-wrap {
    padding-right: 5px;
    flex: 1
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    word-wrap: normal !important
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

.happyforms-form .happyforms-part .happyforms-input {
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: stretch
}